.vscode
*.so
*.db
*.db-shm
*.db-wal
node_modules
credentials.yml
package-lock.json
__pycache__/
*.dot
action.json
credentials.yml 
*.data
ga_connector.py 
gactions
models/
ngrok
endpoints.yml
.DS_Store
*.pyc
utils/data_augment/output/*
utils/data_augment/*.txt